FIREBASE_CREDENTIALS_PATH=D:\she leads hackathon\Backend\creds\apna-kheth-firebase-adminsdk-fbsvc-31482bc32d.json
GEMINI_API_KEY=AIzaSyAcVjB5_3uVh25M0navPmJzkggv4hTFoVc
SARVAM_API_KEY=sk_myfftysr_HMsDZxseEy2MLwr3Omm3oOrS